html, body, div, span, applet, object, iframe,
h1,h2,h4,h5,h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ul {
  list-style: none; 
}
blockquote, q {
  quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}
span{
    display:inline-block;
}
*, *::before, *::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
}
.container{
	width: 1180px;
	padding: 0 10px;
	margin: 0 auto;
}
.flex-cont{
	display: flex;
	justify-content: space-between;
}

/* header */
.header{
	background:#F7E296;
	padding: 50px 60px;
	margin-top: 40px;
	position: relative;
}
.logo{
	position: absolute;
	top: -15px;
	left: 60px;
}
.search-area{
	margin-left: 39px;
	position: relative;
}
.search-area:after{
	position: absolute;
	content: "";
	left: -38px;
	top: 0;
	width: 16px;
	height: 16px;
	background: url(../img/search-ico.png) no-repeat;
}
.search-button{
	background: black;
	outline: none;
	border:none;
	color:white;
	cursor: pointer;
	display:none;
}
.search-area input[type="search"]{
	outline:none;
	border:none;
	background: none;
	opacity: 0.3;
	color: #000000;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.15px;
}
.search-button{
	width: 90px;
	height: 40px;
}
.search{
	width: 535px;
}
.userbox-header{
	width: 535px;
}
.userbox-lists{
	display: flex;
}
.userbox-lists li{
	position: relative;
}
.userbox-lists li:after{
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
}
.userbox-lists li:first-child:after{
	background: url(../img/user.png) no-repeat;
	left: -20px;
    top: 12px;
}
.userbox-lists li:nth-child(2):after{
	background: url(../img/ico-1.png) no-repeat;
	left: -20px;
    top: 15px;
}
.userbox-lists li:last-child:after{
	background: url(../img/basket-black.png) no-repeat;
	left: -20px;
    top: 12px;
}
.userbox-lists li:first-child{
	margin-right: auto;
}
.userbox-lists li:nth-child(2){
	margin-right: 40px;
}
.userbox-lists li a{
	color: black;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.15px;
	text-decoration: none;
}
.main-menu li{
	display: inline-block;
}
.submenu-box .submenu-list{
	margin-right: 50px;
}
.header-catalog{
	margin-top: 40px;
}
.submenu-link{
	color: black;
	text-decoration: none;
	font-family: "Gilroy-ExtraBold";
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	width: 245px;
	display: inline-block;
	background: url(../img/plus-1.png) no-repeat right top 3px;
}
.submenu-item a{
	color: #000000;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.15px;
	text-decoration: none;
}
.nav-item a{
	color: #000000;
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	font-family: "Gilroy-ExtraBold";
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3.6px;
	margin-left: 38px;
}
.submenu-box{
	display: none;
}

/* slider */
.slider{
	position: relative;
}
.slider-dots{
	position: absolute;
	right: 0;
	outline: 2px solid red;
}
.slider-control{
	display: none;
}
.slide-inner{
	width: 550px;		
}

/* popular */
.popular{
	margin-bottom: 50px;
}
.popular-item{
	width: 160px;
}

/* service */
.service-tabs{
	width: 300px;
}
.tab-items{
	width: 700px;
}

/* partners */
.partners{
	margin: 50px 0;
}
.partners-box{
	width: 260px;
}

/* company */
.company{
	margin: 50px 0px;
}
.company-item{
	width: 565px;
}
.company .map{
	width: 560px;
	height: 222px;
	background: url(../img/map.jpg) no-repeat top center;
}

/* footer */
.userbox-footer li, .footer-info li, .footer-social li{
	display: inline-block;
}
.footer-social{
	width: 426px;
}
.line-orange{
	width: 84px;
	height: 7px;
}

/* pop up */
.popup-message{
	width: 960px;
	margin: 0 auto;
	padding: 98px 100px;
	box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);	
}
.popup-message textarea{
	width: 100%;
	resize:none;
	min-height: 155px; 
}
.form-box .input-box{
	width: 370px;
}
.input-box input[type=text]{
	width: 100%;
}

/* catalog */
.filter{
	height: 50px;
}
.filter div{
	height: inherit;
}
.filter-item{
	background: #DBDBDB;
}
.breadcrumbs ul{
	font-size: 0;
}
.breadcrumbs li{
	display: inline-block;
	font-size: 15px;
}
.filter .filter-item{
	width: 280px;
}
.filter .sorting{
	width: 900px;
	background: #EBEBEB;
}
.filter-wrap{
	background: -webkit-linear-gradient(left,#dbdbdb 50%,#ebebeb 50%);
}
.no-padding{
	padding: 0;
}
.sorting ul{
	font-size: 0;
}
.sorting li{
	display: inline-block;
	font-size: 15px;
}

/* catalog-main */
.sidebar{
	width: 270px;
}
.products{
	width: calc(100% - 270px);
	padding-left: 70px;
}
.product-box{
	flex-wrap: wrap;
}
.product-item{
	width: 360px;
	margin-bottom: 20px;
}
.pagination li{
	display: inline-block;
}
.pagination ul{
	font-size: 0px;
}
.pagination li a{
	font-size: 15px;
}